/* Tips-Tricks */
#tips-tricks-active { width: 805px; margin: auto; }
#tips-tricks-content { width: 755px; margin: auto; }

#tips-tricks-content .tips-tricks { border: 1px solid #999; }
#tips-tricks-content .tips-tricks-bg { background-color: #f9f7f2; }

.tips-tricks-active { width: 370px; float: left; font-size: 12px; background-color: #7AB800; margin-left: 10px; }
.tips-tricks-active.odd { background-color: #339; margin-left: 0px; }
.tips-tricks-active.odd .tips-tricks-enter { background-color: #339; }
.tips-tricks-active .tips-tricks-bg { padding-bottom: 10px; }
.tips-tricks-active .tips-tricks-number { margin-top: 5px; padding: 10px; background-color: #fff; color: #00b0ca; font-weight: bold; font-size: 14px; }
.tips-tricks-active .tips-tricks-name   { margin: 10px; }
.tips-tricks-active .tips-tricks-divider  { margin-left: 10px; margin-right: 10px; height: 1px; border-top: 1px dotted #000; }
.tips-tricks-active .tips-tricks-image  { margin: 10px; height: 180px; }
.tips-tricks-active .tips-tricks-short  { margin: 10px; }
.tips-tricks-active .tips-tricks-enter  { width: 200px; margin: auto; margin-top: 10px; color: #fff; background-color: #7AB800; }



/* Tips-Tricks list view */
.tips-tricks-list { margin-top: 10px; width: 750px; clear: both; font-size: 12px; background-color: #7AB800; }
.tips-tricks-list.odd { background-color: #339; }

.tips-tricks-list .tips-tricks-image { width: 160px; float: left; }
.tips-tricks-list .tips-tricks-texts { width: 360px; float: left; }
.tips-tricks-list .tips-tricks-info { width: 230px; height: 120px; float: left; background-color: #fff; }

.tips-tricks-list .tips-tricks-image { margin: 0; padding: 0; }
.tips-tricks-list.odd .tips-tricks-enter { background-color: #339; }
.tips-tricks-list .tips-tricks-bg { padding-bottom: 0px; margin-top: 4px; }
.tips-tricks-list .tips-tricks-title { margin-top: 0px; padding: 5px; color: #00b0ca; font-weight: bold; font-size: 14px; }
.tips-tricks-list .tips-tricks-divider  { margin-left: 0px; margin-right: 0px; height: 1px; border-top: 1px dotted #000; }
.tips-tricks-list .tips-tricks-short  { margin: 0px; }
.tips-tricks-list .tips-tricks-view  { width: 120px; margin: auto; margin-top: 10px; background-color: #00b0ca; }


/* Tips-Tricks grid view */
.tips-tricks-grid { margin-top: 10px; margin-left: 14px; width: 240px; float: left; font-size: 12px; background-color: #7AB800; }
.tips-tricks-grid.odd { background-color: #339; }

.tips-tricks-grid .tips-tricks-info { padding-top: 4px; height: 50px; background-color: #fff; }
.tips-tricks-grid .tips-tricks-image { margin: 0; padding: 0; }
.tips-tricks-grid.odd .tips-tricks-enter { background-color: #339; }
.tips-tricks-grid .tips-tricks-bg { padding-bottom: 0px; margin-top: 4px; }
.tips-tricks-grid .tips-tricks-number { margin-top: 5px; padding: 10px; background-color: #fff; color: #00b0ca; font-weight: bold; font-size: 14px; }
.tips-tricks-grid .tips-tricks-name   { width: 210px; height: 30px; margin: 15px; font-weight: bold; font-size: 14px; }
.tips-tricks-grid .tips-tricks-short  { width: 210px; height: 95px; margin: 15px; }
.tips-tricks-grid .tips-tricks-view  { width: 120px; margin: auto; margin-top: 10px; background-color: #00b0ca; }


/* Tips-Tricks full view */
.tips-tricks-full { margin: auto; width: 750px; clear: both; font-size: 12px; background-color: #7AB800; }
.tips-tricks-full.odd { background-color: #339; }

.tips-tricks-full .tips-tricks-image { width: 160px; float: left; }
.tips-tricks-full .tips-tricks-texts { width: 360px; float: left; }
.tips-tricks-full .tips-tricks-info { width: 230px; height: 120px; float: left; background-color: #fff; }

.tips-tricks-full .tips-tricks-bg { padding: 0px; margin-top: 5px; }
.tips-tricks-full .tips-tricks-number { margin-top: 0px; padding: 15px; background-color: #fff; color: #00b0ca; font-weight: bold; font-size: 16px; }
.tips-tricks-full .tips-tricks-name { margin-top: 0px; padding: 15px; width: 300px; padding-bottom: 5px; font-size: 22px; }
.tips-tricks-full .tips-tricks-divider  { margin-left: 0px; width: 720px; margin-left: 15px; height: 1px; border-top: 1px dotted #000; }
.tips-tricks-full .tips-tricks-short  { margin: 0px; padding: 15px; padding-top: 2px; width: 360px; float: left; }
.tips-tricks-full .tips-tricks-image { margin: 0; padding: 15px; width: 330px; float: left; }
.tips-tricks-full .tips-tricks-view  { width: 120px; margin: auto; text-align: center; font-size: 14px; font-weight: bold; margin-top: 10px; padding-top: 6px; padding-bottom: 6px; color: #fff; background-color: #00b0ca; }
.tips-tricks-full .tips-tricks-view a { text-decoration: none; color: #fff; }

.tips-tricks-full .tips-tricks-enter { width: 300px; margin: auto; margin-top: 10px; background-color: #7ab800; }



/* Tips-Tricks Topics */
#tips-tricks-topics-content { width: 755px; margin: auto; background: }
#tips-tricks-topics-content .tips-tricks-topic-bg { background-color: #f9f7f2; }
#tips-tricks-topics-content .tips-tricks-topic { border: 1px solid #999; }

/* Tips-Tricks Topic list view */
.tips-tricks-topic-list { margin-top: 10px; width: 750px; clear: both; font-size: 12px; }

.tips-tricks-topic-list .tips-tricks-topic-image { width: 160px; float: left; }
.tips-tricks-topic-list .tips-tricks-topic-texts { width: 490px; margin: 10px; margin-left: 15px; margin-right: 15px; float: left; }
.tips-tricks-topic-list .tips-tricks-topic-info { width: 230px; height: 120px; float: left; background-color: #fff; }

.tips-tricks-topic-list .tips-tricks-topic-image { margin: 0; padding: 0; }
.tips-tricks-topic-list .tips-tricks-topic-title { margin-top: 0px; padding: 0px; color: #666; font-weight: bold; font-size: 14px; }
.tips-tricks-topic-list .tips-tricks-topic-title a { color: #666; text-decoration: none; }
.tips-tricks-topic-list .tips-tricks-topic-created { margin-top: 0px; padding: 0px; color: #666; font-size: 12px; }
.tips-tricks-topic-list .tips-tricks-topic-created a { color: #666; text-decoration: none; }
.tips-tricks-topic-list .tips-tricks-topic-divider  { margin-left: 0px; margin-right: 0px; height: 1px; border-top: 1px dotted #000; }
.tips-tricks-topic-list .tips-tricks-topic-short  { margin: 0px; }
.tips-tricks-topic-list .tips-tricks-topic-view { width: 120px; margin: auto; margin-top: 10px; background-color: #00b0ca; }


/* Tips-Tricks Topic grid view */
.tips-tricks-topic-grid { margin-top: 10px; margin-left: 14px; width: 240px; float: left; font-size: 12px; }

.tips-tricks-topic-grid .tips-tricks-topic-texts { padding: 10px; }
.tips-tricks-topic-grid .tips-tricks-topic-info { padding-top: 4px; height: 50px; background-color: #fff; }
.tips-tricks-topic-grid .tips-tricks-topic-image { margin: 0; padding: 0; }
.tips-tricks-topic-grid .tips-tricks-topic-number { margin-top: 10px; padding: 10px; background-color: #fff; color: #00b0ca; font-weight: bold; font-size: 14px; }
.tips-tricks-topic-grid .tips-tricks-topic-name { color: #666; font-weight: bold; font-size: 14px; margin-bottom: 4px; }
.tips-tricks-topic-grid .tips-tricks-topic-name a { color: #666; text-decoration: none; }
.tips-tricks-topic-grid .tips-tricks-topic-created { color: #666; font-size: 12px; margin-bottom: 4px; margin-top: 4px; }
.tips-tricks-topic-grid .tips-tricks-topic-created a { color: #666; text-decoration: none; }
.tips-tricks-topic-grid .tips-tricks-topic-divider  { margin-left: 0px; margin-right: 0px; height: 1px; border-top: 1px dotted #000; }
.tips-tricks-topic-grid .tips-tricks-topic-short  {  }
.tips-tricks-topic-grid .tips-tricks-topic-view { width: 120px; margin: auto; margin-top: 10px; background-color: #00b0ca; }


/* Tips-Tricks Topic and comments page */
#tips-tricks-topic-content #top-divider { clear: both; margin-top: 10px; margin-bottom: 10px; height: 1px; border-top: 1px dotted #999; }
#tips-tricks-topic-content { width: 805px; }

#tips-tricks-topic-container { width: 605px; float: left; }

#tips-tricks-topic-owner { width: 90px; margin-left: 25px; margin-right: 25px; float: left; }
#tips-tricks-topic-owner img { width: 90px; }
#tips-tricks-topic-owner { font-size: 10px; color: #999; font-weight: bold; }
#tips-tricks-topic-owner .owner-name { font-size: 14px; color: #666; font-weight: bold; margin-top: 3px; margin-bottom: 3px; }
#tips-tricks-topic-owner .owner-vip { color: #666; }
#tips-tricks-topic-owner .owner-created {  }
#tips-tricks-topic-owner .owner-online-status {  }
#tips-tricks-topic-owner .owner-online-indicator, #tips-tricks-topic-owner .owner-offline-indicator { float: left; width: 9px; height: 9px; margin-top: 1px; margin-right: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#tips-tricks-topic-owner .owner-online-indicator { background-color: #7AB800; }
#tips-tricks-topic-owner .owner-offline-indicator { background-color: #933; }

#tips-tricks-topic-container { color: #666; font-size: 12px; }
#tips-tricks-topic-container h2 { font-size: 18px; float: left; }
#tips-tricks-topic-container h3 { margin: 0px; font-size: 10px; }
#tips-tricks-topic-container .action-buttons { width: 65px; float: right; }
#tips-tricks-topic-container .action-buttons .like-button { width: 65px; height: 20px; background-color: #e0684b; color: #fff; }
#tips-tricks-topic-container .action-buttons .follow-button { width: 65px; height: 20px; margin-top: 5px; background-color: #00b0ca; color: #fff; }
#tips-tricks-topic-container .content-divider { clear: both; height: 1px; border-top: 1px dotted #999; margin-top: 5px; margin-bottom: 5px; }
#tips-tricks-topic-container .hard-divider { clear: both; border-bottom: 1px solid #999; margin-top: 5px; margin-bottom: 5px; }
#tips-tricks-topic-container .hard-divider a { display: block; text-decoration: none; float: right; color: #00b0ca; }
#tips-tricks-topic-container .hard-divider a img { margin-bottom: 2px; margin-left: 3px; }

#tips-tricks-topic-container .tips-tricks-topic-content { width: 440px; margin-right: 20px; float: left; }

#tips-tricks-topic-container .tips-tricks-topic-navigation { height: 70px; width: 440px; }
#tips-tricks-topic-container .tips-tricks-topic-navigation .comment-button { width: 135px; margin-top: 30px; background-color: #00b0ca; }

/*#tips-tricks-topic-content .tips-tricks-topic-navigation .to-top-button { float: right; }*/

#tips-tricks-topic-right { width: 200px; float: left; }

.tips-tricks-right { color: #666; margin-left: 14px; width: 175px; float: left; font-size: 12px; background-color: #7AB800; }
.tips-tricks-right.odd { background-color: #339; }

.tips-tricks-right .tips-tricks-info { padding-top: 4px; }
.tips-tricks-right .tips-tricks-image { margin: 0; padding: 0; }
.tips-tricks-right .tips-tricks-image img { width: 175px; }
.tips-tricks-right.odd .tips-tricks-enter { background-color: #339; }
.tips-tricks-right .tips-tricks-bg { padding-bottom: 0px; margin-top: 4px; background-color: #fbf9f4; }
.tips-tricks-right .tips-tricks-number { margin-top: 5px; padding: 10px; color: #00b0ca; font-weight: bold; font-size: 14px; }
.tips-tricks-right .tips-tricks-name { width: 145px; margin: 15px; font-weight: bold; font-size: 14px; }
.tips-tricks-right .tips-tricks-short { width: 145px;  margin: 15px; }
.tips-tricks-right .tips-tricks-view { width: 150px; margin: auto; margin-top: 10px; background-color: #8dc124; }
.tips-tricks-right .tips-tricks-contribute { width: 150px; margin: auto; margin-top: 10px; background-color: #00b0ca; }


/* Comments for a solution */
.comment-owner { width: 90px; margin-left: 25px; margin-right: 25px; float: left; }
.comment-owner img { width: 90px; }
.comment-owner { font-size: 10px; color: #999; font-weight: bold; }
.comment-owner .owner-name { font-size: 14px; color: #666; font-weight: bold; margin-top: 3px; margin-bottom: 3px; }
.comment-owner .owner-vip { color: #666; }
.comment-owner .owner-created {  }
.comment-owner .owner-online-status {  }
.comment-owner .owner-online-indicator, .comment-owner .owner-offline-indicator { float: left; width: 9px; height: 9px; margin-top: 1px; margin-right: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.comment-owner .owner-online-indicator { background-color: #7AB800; }
.comment-owner .owner-offline-indicator { background-color: #933; }

.comment-content { width: 440px; margin: 0; float: left; }
.indented { margin-left: 25px; }
.indented .comment-content { width: 415px; }
.indented .indented .comment-content { width: 390px; }
.indented .indented .indented .comment-content { width: 365px; }
.indented .indented .indented .indented .comment-content { width: 340px; }

.comment-container { color: #666; font-size: 12px; margin-top: 15px; }
.comment-container h2 { font-size: 18px; float: left; color: #00b0ca; margin: 0; margin-bottom: 4px; }
.comment-container h2 a { color: #666; text-decoration: none; }
.comment-container h3 { margin-top: 4px; margin-bottom: 4px; font-size: 10px; }

.comment-container .action-buttons { width: 65px; float: right; }
.comment-container .action-buttons .like-button { width: 65px; height: 20px; background-color: #e0684b; color: #fff; }
.comment-container .action-buttons .follow-button { width: 65px; height: 20px; margin-top: 5px; background-color: #00b0ca; color: #fff; }
.comment-container .content-divider { clear: both; height: 1px; border-top: 1px dotted #999; margin-top: 5px; margin-bottom: 5px; }
.comment-container .hard-divider { clear: both; border-bottom: 1px solid #999; margin-top: 5px; margin-bottom: 5px; }
.comment-container .hard-divider a { display: block; text-decoration: none; float: right; color: #00b0ca; }
.comment-container .hard-divider a img { margin-bottom: 2px; margin-left: 3px; }

.comment-container .solution-navigation { height: 70px; }
.comment-container .solution-navigation .comment-button { margin-top: 30px; background-color: #00b0ca; }


