/* Challenges forums */
.challenges-large-box { margin-left: 25px; width: 746px; height: 475px; background: #fbf9f4 url(/sites/all/themes/iby/images/tips_tricks_bg.png) 400px 70px no-repeat; }
.challenges-large-box h2 { color: #666; font-size: 24px; padding: 0px; margin-bottom: 5px; padding-top: 15px; padding-left: 23px; }
.challenges-top-divider { border-top: 1px dotted #666; width: 700px; height: 1px; maring: 0px; padding: 0; margin-left: 23px; }
.challenges-texts {  }
.challenges-texts-left { float: left; margin: 25px; margin-top: 20px; width: 350px; color: #666; font-size: 12px; }
.challenges-texts-right { float: left; margin: 25px; margin-top: 20px; width: 300px; color: #666; }

.challenges-topbar { width: 755px; text-align: left; }
.challenges-topbar-left { width: 200px; height: 45px; float: left; font-size:15px; font-weight: bold; color: #00b0ca; margin-top: 5px; }

.challenges-topbar-right { width: 378px; height: 45px; float: right; }
.challenges-area-label { float: left; font-size: 14px; font-weight: bold; color: #666; margin-top: 5px; }


.challenges-active { width: 372px; height: 512px; float: left; margin-bottom: 10px; margin-right: 6px;}
.challenges-active.type-all { background: #F9F7F2 url(/sites/all/themes/iby/images/type_bg_all.png) center top no-repeat; }
.challenges-active.type-continence { background: #F9F7F2 url(/sites/all/themes/iby/images/type_bg_green.png) left top no-repeat;}
.challenges-active.type-ostomy { background: #F9F7F2 url(/sites/all/themes/iby/images/type_bg_blue.png) left top no-repeat; }

#challenges-active {width: 760px;}

#challenges-ended {width: 768px; }


.challenges-active .challenges-bg { width: 372px; height: 496px; padding-bottom: 10px; }
.challenges-active .challenges-number { margin-top: 5px; padding: 10px 20px; background-color: #fff; color: #00b0ca; font-weight: bold; font-size: 14px; }
.challenges-active .ends-in, .challenges-full .ends-in { /*width: 130px; */margin-right: 1px; height: 17px; font-size: 12px; color: #aaa; padding-top: 1px; padding-left: 23px; float: right; background: transparent url(/sites/all/themes/iby/images/clock_icon.png) left top no-repeat; }


.challenges-active .challenges-name { margin: 10px 20px; font-size: 16px; font-weight: bold; height: 34px; color: #666; line-height: 20px; }
.challenges-active .challenges-divider  { margin: 0px 20px; height: 1px; border-top: 1px dotted #666; }
.challenges-active .challenges-image  { margin: 20px; height: 180px; width: 332px; margin-top: 10px; text-align: center; overflow: hidden; }
.challenges-active .challenges-short  { margin: 20px; margin-top: 10px; height: 140px; color: #666; font-size: 12px; }
.challenges-active.type-all .challenges-enter { width: 203px; margin: auto; margin-top: 10px; color: #fff;  }
.challenges-active.type-continence .challenges-enter { width: 200px; margin: auto; margin-top: 10px; color: #fff; /*background-color: #7AB800;*/ }
.challenges-active.type-ostomy .challenges-enter { width: 200px; margin: auto; margin-top: 10px; color: #fff; /*background-color: #0065BD;*/ }




/*
.challenges-active.odd { background-color: #339; margin-left: 0px; }
.challenges-active.odd .ibyforum-enter { background-color: #339; }
*/
/*.challenges-content { width: 370px; height: 280px; float: left; margin: 0; margin-bottom: 10px; }*/
.challenges-active .forum-headline { margin-top: 5px; width: 536px; padding: 10px; background-color: #fff; font-size: 11px; color: #666; font-weight: bold; line-height: 18px; }
.challenges-active .forum-headline a { color: #00b0ca; font-weight: bold; font-size: 16px; text-decoration: none; }
.challenges-active a.challenges-add { background: transparent url(/sites/all/themes/iby/images/add_plus.png) left 3px no-repeat; display: block; width: 110px; float: right; padding-left: 19px; color: #00b0ca; font-weight: bold; font-size: 14px; text-decoration: none; }
.challenges-active .challenges-action-box { width: 170px; height: 35px; margin-left: 20px; margin-bottom: 10px; float: right; font-size: 11px; color: #666; font-weight: bold; line-height: 18px;}
.challenges-active a.challenges-useful { background: transparent url(/sites/all/themes/iby/images/useful_heart.png) left 3px no-repeat; display: block; padding-left: 19px; color: #00b0ca; font-weight: bold; font-size: 14px; text-decoration: none; }
.challenges-active .challenges-description { width: 536px; margin: 10px; height: 113px; text-decoration: none; color: #666; font-size: 12px; }
.challenges-active .challenges-description h2.solution-label { margin: 0; margin-bottom: 2px; width: 100px;  padding: 0; color: #00b0ca; font-weight: bold; font-size: 16px; text-decoration: none; }
.challenges-active .challenges-tags { color: #666; font-size: 11px; margin-left: 10px; margin-top: 10px; height: 35px; font-weight: bold; }
.challenges-active .challenges-stats { margin: 5px; height: 30px; font-size: 10px; color: #666; margin: 0; padding: 0; margin-left: 10px; padding-top: 12px; border-top: 1px dotted #666; }



/* IBY Forums list view */
.challenges-list { margin-top: 10px; width: 750px; clear: both; font-size: 12px; }

.challenges-list .ibyforum-image { width: 150px; float: left; overflow: hidden; }
.challenges-list .ibyforum-texts { width: 330px; float: left; padding-left: 15px; }
.challenges-list .ibyforum-info { width: 230px; height: 120px; float: right; background-color: #fff; }
.challenges-list .ibyforum-ended { height: 20px; float: left; width: 190px; font-size: 12px; font-weight: bold; color: #d58063; margin-top: 6px; padding-top: 3px; padding-left: 23px; float: right; background: transparent url(/sites/all/themes/iby/images/warning_icon.png) left top no-repeat; }
.challenges-list.type-all { padding-top: 5px; background: #F9F7F2 url(/sites/all/themes/iby/images/type_bg_all.png) center top no-repeat; }
.challenges-list.type-continence { padding-top: 5px; background: #F9F7F2 url(/sites/all/themes/iby/images/type_bg_green.png) left top no-repeat; }
.challenges-list.type-ostomy { padding-top: 5px; background: #F9F7F2 url(/sites/all/themes/iby/images/type_bg_blue.png) left top no-repeat; }

.challenges-list .ibyforum-image { margin: 0; padding: 0; height: 120px; overflow: hidden; }
.challenges-list .ibyforum-bg { padding-bottom: 0; margin-top: 0; background-color: transparent; }

.challenges-list .ibyforum-name { height: 34px; }
.challenges-list .ibyforum-name a { color: #00b0ca; font-weight: bold; font-size: 16px; text-decoration: none; }

.challenges-list .ibyforum-title { margin-top: 0px; padding: 10px 5px 10px 0; color: #666; font-weight: bold; font-size: 14px; }
.challenges-list .ibyforum-number { color: #00b0ca; }
.challenges-list .ibyforum-divider  { margin-left: 0px; margin-right: 0px; height: 1px; border-top: 1px dotted #000; }
.challenges-list .ibyforum-short  { margin: 0px; font-size: 12px; line-height: 123%; color: #666; height: 75px; overflow: hidden; }
.challenges-list .ibyforum-view  { width: 120px; margin: auto; background-color: transparent; }


/* IBY Forum grid view */
.challenges-grid { margin-top: 10px; margin-right: 14px; width: 240px; height: 610px; float: left; font-size: 12px; }

.challenges-grid.type-all { background: #fff url(/sites/all/themes/iby/images/type_bg_all.png) center top no-repeat; }
.challenges-grid.type-continence { background: #fff url(/sites/all/themes/iby/images/type_bg_green.png) left top no-repeat; }
.challenges-grid.type-ostomy { background: #fff url(/sites/all/themes/iby/images/type_bg_blue.png) left top no-repeat; }

.challenges-grid .ibyforum-ended{ 
	height: 25px; 
	float: left; 
	width: 195px; 
	font-size: 12px; 
	font-weight: bold; 
	color: #d58063; 
	margin-top: 6px; 
	padding-top: 3px; 
	padding-left: 23px; 
	float: right; 
	background: transparent url(/sites/all/themes/iby/images/warning_icon.png) left top no-repeat; 
  line-height: 123%;
}
.challenges-full .ibyforum-ended {
	font-size: 12px; 
  height: 16px;
	font-weight: bold; 
	color: #d58063; 
	padding-top: 3px; 
	padding-left: 23px; 
	background: transparent url(/sites/all/themes/iby/images/warning_icon.png) left top no-repeat; 
}


.challenges-grid .ibyforum-image { margin: 0; padding: 0; height: 150px; text-align: center; overflow: hidden; }
.challenges-grid .ibyforum-bg { padding-bottom: 0px; margin-top: 4px; }
.challenges-grid .ibyforum-number { height: 15px; margin-top: 5px; padding: 10px; background-color: #fff; color: #00b0ca; font-weight: bold; font-size: 14px; }
.challenges-grid .challenges-name   { width: 210px; height: 37px; margin: 15px; margin-bottom: 15px; font-weight: bold; font-size: 14px; padding: 0px; overflow: hidden; }
.challenges-grid .challenges-name a { color: #666; font-weight: bold; font-size: 16px; text-decoration: none; }

.challenges-grid .challenges-short-texts  { height: 180px; overflow: hidden; }
.challenges-grid .challenges-subtitle  { width: 210px; height: 55px; margin: 15px; margin-top: 0px; padding: 0px; font-size: 11px; font-weight: bold; color: #666; overflow: hidden; }
.challenges-grid .challenges-short  { width: 210px; height: 55px; margin: 15px; margin-top: 18px; padding: 0px; font-size: 11px; color: #666; overflow: hidden; }
.challenges-grid .ibyforum-info { padding-top: 20px; height: 110px; background-color: #fff; }
.challenges-grid .ibyforum-view  {/* width: 125px;*/ margin: auto; margin-top: 10px; /*background-color: #00b0ca; */}

.challenges-grid .challenges-tags { font-size: 10px; color: #aaa; margin: 15px; margin-top: 18px; } 


/* Challenges right bar */
.challenges-right .challenges-info { padding-top: 4px; }
.challenges-right .challenges-image { margin: 0; padding: 0; }
.challenges-right .challenges-image img { width: 175px; }
.challenges-right.odd .challenges-enter { background-color: #339; }
.challenges-right .challenges-bg { padding-bottom: 0px; margin-top: 3px; background-color: #fbf9f4; }
.challenges-right .challenges-number { margin: 10px; margin-top: 5px; }
.challenges-right .challenges-number a { color: #00b0ca; font-weight: bold; font-size: 14px; text-decoration: none; }
.challenges-right .challenges-divider { width: 145px; margin: 10px; border-top: 1px dotted #666; }
.challenges-right .challenges-name { width: 145px; margin: 10px; }
.challenges-right .challenges-name a { font-weight: bold; font-size: 14px; text-decoration: none; color: #666; }
.challenges-right .challenges-short { width: 145px; margin: 10px; }
.challenges-right .challenges-view { width: 150px; margin: auto; margin-top: 10px; /*background-color: #8dc124;*/ }
.challenges-right .challenges-contribute { width: 150px; margin: auto; margin-top: 10px; background-color: #00b0ca; }

.challenges-right { margin-top: 3px; }
.challenges-right.type-all { background: transparent url(/sites/all/themes/iby/images/type_bg_all.png) center top no-repeat; }
.challenges-right.type-continence { background: transparent url(/sites/all/themes/iby/images/type_bg_green.png) left top no-repeat; }
.challenges-right.type-ostomy { background: transparent url(/sites/all/themes/iby/images/type_bg_blue.png) left top no-repeat; }
.challenges-right .ends-in { width: 140px; height: 17px; font-size: 13px; color: #aaa; padding-top: 1px; margin-left: 12px; padding-left: 23px; background: transparent url(/sites/all/themes/iby/images/clock_icon.png) left top no-repeat; }

.challenges-right .ibyforum-ended { width: 140px; height: 17px; font-size: 13px; color: #d58063; padding-top: 1px; margin-left: 0px; padding-left: 38px; background: transparent url(/sites/all/themes/iby/images/warning_icon.png) 15px top no-repeat; }


.challenges-right { color: #666; margin-left: 14px; width: 175px; float: left; font-size: 12px; background-color: #7AB800; }
.challenges-right.odd { background-color: #339; }


#ibyforum-topics-content { margin-top: 20px; }

/* I FOLLOW */
.challenges-list.ifollow {
	margin-bottom: 20px;
}

#challenges-content #important-notice { width: 733px; height: 228px; margin-left: 2px; padding-left: 17px; background: #e5f7fa url(/sites/all/themes/iby/images/important_bg.png) right 0px no-repeat; overflow: hidden; }
#challenges-content #important-notice.notice-closed { height: 228px; height: 57px; } /*background-image: url(/sites/all/themes/iby/images/important_closed_bg.png); }*/
#challenges-content #important-notice .notice-texts { width: 450px; float: left; }
#challenges-content #important-notice .notice-title { color: #df674b; font-size: 20px; margin-top: 19px; font-weight: bold; }
#challenges-content #important-notice .notice-header { color: #666; font-size: 15px; font-weight: bold; }
#challenges-content #important-notice .notice-sub-header { color: #666; font-size: 12px; font-weight: bold; }
#challenges-content #important-notice .notice-body { color: #666; font-size: 12px; margin-top: 17px; }

#challenges-content #important-notice .notice-show-hide { display: block; width: 39px; height: 8px; margin: 10px; float: right; background: transparent url(/sites/all/themes/iby/images/button_show_hide.png) 0px -8px no-repeat; }
#challenges-content #important-notice .notice-show-hide.button-show { background-position: 0px 0px; }
