/* Chat Forum */
.chat-forums-forum { width: 180px; height: 200px; float: left; margin-right: 10px; margin-bottom: 10px; }
.chat-forums-forum.type-all { background: #F9F7F2 url(../images/type_bg_all.png) center top no-repeat; }
.chat-forums-forum.type-continence { background: #F9F7F2 url(../images/type_bg_green.png) left top no-repeat; }
.chat-forums-forum.type-ostomy { background: #F9F7F2 url(../images/type_bg_blue.png) left top no-repeat; }

.chat-forums-bg { height: 195px; }
.chat-forums-forum .forum-headline { margin-top: 5px; padding: 10px; background-color: #fff; }
.chat-forums-forum .forum-headline a { color: #00b0ca; font-weight: bold; font-size: 15px; text-decoration: none; }
.chat-forums-description { margin: 5px; height: 110px; }
.chat-forums-description a { text-decoration: none; color: #666; font-size: 11px; }
.chat-forums-stats { margin: 5px; height: 30px; margin: auto; }
.chat-forums-forum .topics-count, .chat-forums-forum .posts-count { float: left; width: 82px; font-size: 11px; font-weight: bold; color: #666; text-align: center; }
.chat-forums-forum .topics-count span, .chat-forums-forum .posts-count span { font-size: 14px; }
.chat-forums-forum .stats-divider { float: left; width: 1px; border-right: 1px dashed #666; }

.chat-forums-name .flag-buttons { float: right; width: 200px; text-align: right; margin-top: 5pax; padding-top: 16px; padding-right: 25px }
.chat-forums-name .flag-buttons div { float: right; text-align: right; }
.chat-forums-name .flag-buttons a { float: right; text-align: right; margin-left: 5px; }


.chat-forums-large-box { width: 755px; height: 285px; padding-top:1px; margin-bottom: 10px; background: #F8F6F1 url(../images/chat_forums_bg.png) right bottom no-repeat; }
.chat-forums-large-box h2 { float: left; font-size:25px; color:#00B0CA; margin-bottom:10px; margin-top:8px; padding-bottom:0; padding-left:23px; padding-right:0; padding-top:0; }
.chat-forums-top-divider { border-top: 1px dotted #666; width: 706px; height: 1px; maring: 0px; padding: 0; margin-left: 23px; }
.chat-forums-texts { height: 220px; overflow:hidden;  }
.chat-forums-texts-left { float: left; margin: 25px; margin-top: 11px; width: 615px; color: #666; font-size: 11px; line-height:16px; height: 140px;
  }
.chat-forums-texts-bottom {overflow:hidden; width: 100%; margin-left: 23px; margin-bottom: 10px;}
.chat-forums-texts-right { float: left; margin: 25px; margin-top: 20px; width: 0px; color: #666; }

.chat-forums-topbar { width: 755px; margin-top: 20px; text-align: left; }
.chat-forums-topbar-left { width: 200px; height: 45px; float: left; font-size: 15px; font-weight: bold; color: #00b0ca; margin-top: 5px; }

.chat-forums-topbar-right { width: 388px; height: 45px; float: right; }
.chat-forums-area-label { float: left; font-size: 14px; font-weight: bold; color: #666; margin-top: 5px; }
.chat-forums-type-all, .chat-forums-type-continence, .chat-forums-type-ostomy { float: left; height: 28px; font-size: 13px; color: #666; margin-left: 15px; padding-top: 5px; text-align: center; }
.chat-forums-type-all { width: 60px; background: transparent url(../images/type_tab_all.png) left top no-repeat; }
.chat-forums-type-continence { color: #999; width: 100px; background: transparent url(../images/type_tab_continence.png) left -33px no-repeat; }
.chat-forums-type-ostomy {     color: #999; width: 100px; background: transparent url(../images/type_tab_ostomy.png) left -33px no-repeat; }

