input { filter: none; }
.rounded-button a { filter: none; }
.box-shadow { box-shadow: none; }
.add-comment-content { height: 500px; }

.chat-forums-large-box { background-color: #F8F6F1; }
.tips-tricks-large-box { background-color: #F8F6F1; }
.challenges-large-box { background-color: #F8F6F1; }
.vip-rooms-large-box { background-color: #F8F6F1; }

